* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

.form {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 1rem;
  width: fit-content;
  margin: auto;
}

.form div {
  margin-bottom: 1rem;
}

.result,
.message {
  text-align: center;
  margin-top: 1rem;
}
