<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Flask with db</title>

    <style>
      form {
        width: fit-content;
        margin: auto;
        padding: 1rem;
        border: 2px solid #333;
      }

      form > div {
        margin-bottom: 10px;
      }

      li > a {
        margin: 0.5rem;
        text-decoration: none;
      }

      li.done > span {
        text-decoration: line-through;
      }

      li.star > span {
        color: red;
        text-shadow: 1px 1px yellow;
      }
    </style>
  </head>
  <body>
    <main>
      <form action="/add-todo" method="post">
        <div>
          <label>
            Todo:
            <input type="text" name="todo" />
          </label>
        </div>

        <div>
          <input type="submit" value="Add Todo" />
        </div>
      </form>

      <ul>
        {% for todo in todos %}
        <li class="{% if todo.is_done %} done {% endif %} {% if todo.is_star %} star {% endif %}">
          <span>{{ todo.text }}</span>
          <a href="/toggle-done/{{todo.id}}">
            {% if todo.is_done %} mark not done {% else %} mark done {% endif %}
          </a>
          <a href="/toggle-star/{{todo.id}}">
            {% if todo.is_star %} unstar {% else %} star {% endif %}
          </a>
          <a href="/delete/{{todo.id}}">delete</a>
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
