<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask SPA</title>
    <style>
      .page {
        display: none;
      }

      .page.active {
        display: block;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <a href="#services">Services</a>
    </nav>

    <div class="page" id="page-home"></div>
    <div class="page" id="page-about"></div>
    <div class="page" id="page-contact"></div>
    <div class="page" id="page-services"></div>

    <script>
      function showActivePage() {
        // what page to display
        let activePage = location.hash.slice(1);
        activePage = activePage || 'home';

        // hide last active page
        let $lastActivePage = document.querySelector('.page.active');
        if ($lastActivePage != null) {
          $lastActivePage.classList.remove('active');
        }

        // show current active page
        let $activePageDiv = document.querySelector(`#page-${activePage}`);
        $activePageDiv.classList.add('active');

        // fetch content for current active page
        if ($activePageDiv.innerHTML === '') {
          fetch(`/api/${activePage}`)
            .then(response => response.text())
            .then(html => {
              // provide content to active div
              $activePageDiv.innerHTML = html;
            });
        }
      }

      window.addEventListener('hashchange', () => {
        showActivePage();
      });

      showActivePage();
    </script>
  </body>
</html>
